@use 'sass:list';
@use 'sass:math';

/* --- */
$font-h1: 3.9rem, 100%, 800;

/* --- */
$font-h2: 3.2rem, 100%, 800;

/* --- */
$font-h3: 2rem, 100%, 800;

/* --- */
$font-body: 2.6rem, 100%, 400;

/* --- */
$font-caption: 1.5rem, 100%, 200;
